
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script');

*{
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body{background: white url(sena.jpg);
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;}

header{
  width: 100%;
}

.navegacion{
  width: 1000px;
  margin: 50px auto;
  background-color: rgba(0, 0, 0, 0.7);
  color:#000;
}

.navegacion ul{
  list-style: none;
}

.menu > li{
  position: relative;
  display: inline-block;
}

.menu  li  a{
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
  font-family: 'Pacifico', cursive;
}

.menu li a:hover{
  color: #27F3B5;
  transition: all .3s;
}

/* Submenu*/

.submenu{
  position: absolute;
  background: #1B8B69;
  width: 120%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
}

.submenu li a{
  display: block;
  padding: 15px;
  color: #fff;
  font-family: 'Pacifico', cursive;
  text-decoration: none;
}

.menu li:hover .submenu{
  visibility: visible;
  opacity: 3;
}

/* Parrafos*/


 p.Titulo {
   font-family: "Indie Flower", cursive;
   font-size: 800%;
   text-align: center;
   color:
 }

 p.aloha {
       font-family: 'Pacifico', cursive;
       font-size: 130%;
       text-align: center;
     }

p.genial {
      font-family: 'Monoton', cursive;
      font-size: 200%;
      text-align: center;
    }

  p.dias {
      font-family: 'Shadows Into Light Two', cursive;
      font-size: 130%;
      text-align: center;
      margin-left: 50px;
      text-align: left;
    }

    p.game {
        font-family: 'Press Start 2P', cursive;
        font-size: 100%;
        text-align: center;
      }

    p.brush {
        font-family: 'Nanum Brush Script', cursive;
        font-size: 200%;
        text-align: center;
      }

    div.fondotransparente{
        background-color: rgba(0, 0, 0, 0.5);
        color:#000;
    }
